.body {
    background-image: url("background.jpeg");
    background-size: cover;
    background-color: azure; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
   

}

.lightgrey_text{
    color:gainsboro; 
    margin: 0 1vw 0 0; 
}

.white_text_big{
    color: white; 
    font-size: 1vw; 
    margin: 0 2vw 0 0; 
    align-self: center; 
}

.inline{
    display: inline-flex; 
}

h1{
    font-size: 4vh;
    color: white;
    margin: 0 3vw 0 0 ; 
}

.icon_top{
    margin: 0 1vw 0 1vw; 
    align-self: center; 
}

p{
    margin: 0.5vw 0;
}

.icon{
    margin: 0 0.5vw 0 0 ; 
}

.titlebar {
    margin: 2vh 5vw;
    display: inline-flex;
}


.columns{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2vw;
    margin: 2vh 5vw 0 5vw ;
}
    .column1{
        background-color:#e6e6e6;
        border-radius:25px ;
        max-height: 60vh; 
    }

        .project_title{
            font-size: 2vh;
            font-weight: bold;
            color: darkgrey;
            margin: 1vw; 
        }
                .upcoming_projects{
                    display: grid;
                    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 6vh;
                    grid-row-gap: 1vw;
                    margin: 0 1vw; 
                    
                }

                    .upcoming_project{
                        background:white;
                        border-radius:15px ;
                        display: flexbox; 
                        min-height: 8vh;
                        padding: 0vw 1vw;
                    }
                       
        .column2{
            background-color:#e6e6e6;
            border-radius:25px ;
            max-height: 78vh; 
            }
                .current_projects{
                    display: grid;
                    grid-template-rows: 1fr 1fr 1fr 1fr 6vh;
                    grid-row-gap: 1vw;
                    margin: 0 1vw; 
                    }
    
                    .current_project{
                            background:white; 
                            border-radius:15px ;
                            display: flexbox; 
                            min-height: 13vh;
                            padding: 0vw 1vw;
                        }

                        .bar_green{
                            width: 5vw;
                            height:1.5vh;
                            background: greenyellow; 
                            border-radius: 15px;
                            margin: 1vw 0; 
                        }

                        .bar_red{
                            width: 5vw;
                            height:1.5vh;
                            background: red; 
                            border-radius: 15px;
                            margin: 1vw 0; 
                        }

                        .bar_blue{
                            width: 5vw;
                            height:1.5vh;
                            background: blue; 
                            border-radius: 15px;
                            margin: 1vw 0; 
                        }

                        .bar_orange{
                            width: 5vw;
                            height:1.5vh;
                            background: orange; 
                            border-radius: 15px;
                            margin: 1vw 0; 
                        }

                        .bar_purple{
                            width: 5vw;
                            height:1.5vh;
                            background: purple; 
                            border-radius: 15px;
                            margin: 1vw 0; 
                        }

                        .headshot{
                            float:right; 
                            border-radius: 15px;
                            margin: 0 0 0.5vw 0.5vw;
                        }

        .column3{
            background-color:#e6e6e6;
            border-radius:25px ;
            max-height: 71vh; 
                        }                
                .completed_projects{
                    display: grid;
                    grid-template-rows: 1fr 1fr 1fr 1fr 6vh;
                    grid-row-gap: 1vw;
                    margin: 0 1vw;  
                        }
        
                    .completed_project{
                        background:white; 
                        border-radius:15px ;
                        display: flexbox; 
                        min-height: 13vh;
                        padding: 0vw 1vw;
                            }

                            .done_date{
                                display: inline-flex; 
                                background: green;
                                border-radius: 5px;
                                width: 7.5vw;
                                padding: 0.2vw; 
                                margin: 0 1vw 0 0; 
                            }

                            .white_text{
                                color: white; 
                                font-size: 0.8vw; 
                            }


                .add_a_card{
                    color: lightgray; 
                    margin: 0 0;
                    max-height: 10vh; 
                    /* padding: 0 0 2vw 0;   */
                }
